:root {
    --primary: hsl(356.4deg, 59.5%, 50.6%);
    --white: #fff;
    --black: #000;
    --primary-trans-10: hsla(356.4deg, 59.5%, 50.6%, 0.1);
}
body {
    font-family: "Rubik";
  }
  @font-face {
    font-style: normal;
    font-display: swap;
    font-family: "Rubik";
    src: url("../../assets/rubik.woff2") format("woff2");
    font-weight: 300 600;
  }
.bot-button{
    border-radius: 100%;
    position: absolute;
    bottom: 8px;
    right: 16px;
    height: 50px;
    width: 50px;
}

.bot-button:hover {
height: 60px;
width: 60px;
cursor: pointer;
}

.chatbox{
    position: absolute;
    bottom: 1px;
    right: 7px;
    height: 70%;
    width: 400px;
}
.chatbox-body {
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px #ccc;
    text-align: center;
    height: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    display: list-item;
    overflow-y:auto;
    overflow-x: hidden;
}

.close-button {
    cursor: pointer;
    height: 20px;
    padding: 12px 16px;
  }
  

.chatbox-header-container {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: 3px 3px 3px 3px #ccc;
    height: 40px;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
}

.chatbox-header {
    padding: 12px 16px;
}

.chatbox-logo {
    border-radius: 100%;
    height: 25px;
    width: 25px;
}
.chatbox-message-bot {
    width: 75%;
    text-align: start;
    background-color: #ccc;
    padding:5px;
    border-radius: 3%;

}
li.faq-container {  
    margin: 10px;
    padding: 5px; 
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}
li.faq-container:hover {
    background-color: var(--primary-trans-10);
    cursor: pointer;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.chatbox-message-sender {
    text-align: end;
}

.chatbox-message-body {
    display: flex;
    gap: 7px;
    padding: 0px 5px 0px 5px;
    width: 100%;
}
.selected-option-container {
    padding: 5px; 
    width: 60%;
    float: right;
    margin: 10px 0px;
    text-align: center;
    background-color: var(--primary);
    color: #fff;
    border-radius: 5px;
}
