
<script setup lang="ts">
import { computed, h, onUpdated, ref, watch , watchEffect } from 'vue';
type FaqChatBotProps = {
    botImageClass?: string,
    botImage?: string,
    showBotButton: boolean,
    showChatBox: boolean,
    FAQs: Record<string, Record<string, string>>
    currentUrl: string,
}
const sampleQuestionAndAnswer: Record<string, string> = {}
const props = withDefaults(defineProps<FaqChatBotProps>(), {
    botImageClass: undefined,
    botImage: "../../assets/bot.png",
    showBotButton: true,
    showChatBox: false,
})
const emit = defineEmits<{
    (e: 'botclicked'): void
    (e: 'botclosed'): void
    (e: 'questionselected', value: string): void
}>()

const showBotButtonref = ref(true)
const showChatBoxref = ref(false)
const currentUrl = ref('')
const selectedQuestionAndAnswer = ref(sampleQuestionAndAnswer)
const selectedQuestion = ref('')
const messageCount = ref(0)
const messageTemplateRef = ref(null)
const currentQuestions = computed(() => {
    const questionsForCurrentUrl = props.FAQs[props.currentUrl]
    return Object.keys(questionsForCurrentUrl)
})
const clearSelectedQuestionAns = () => {
    for (var qAndA in selectedQuestionAndAnswer.value) delete selectedQuestionAndAnswer.value[qAndA];
    console.log(selectedQuestionAndAnswer)
}
const currentFAQAnswers = computed(() => {
    return props.FAQs[props.currentUrl]
})
onUpdated(() => {
    showBotButtonref.value = props.showBotButton
    showChatBoxref.value = props.showChatBox
    currentUrl.value = props.currentUrl
})
const enableBot = () => {
    emit('botclicked');
}
const closeBot = () => {
    emit('botclosed');
}
const getAnswerForSelectedQuestion = (selectedQuestion: string) => {
    return currentFAQAnswers.value[selectedQuestion]
}
watchEffect(() => {
    const answerForSelectedQuestion = getAnswerForSelectedQuestion(selectedQuestion.value)
    if (!answerForSelectedQuestion)
        selectedQuestionAndAnswer.value[selectedQuestion.value.toString()] = answerForSelectedQuestion
})
const handelQuestionClick = (question: string) => {
    selectedQuestion.value = question
    emit('questionselected', question)
}

watch(currentUrl, ()=> clearSelectedQuestionAns())
watch(selectedQuestionAndAnswer.value, () => {
    messageCount.value +=1
})
watch(messageTemplateRef, (newvalue,oldvalue)=> {
    console.log(newvalue,oldvalue)
})

/* const handelQuestionClick = () => {
    h('div',{id:'chat-bot-body' ,class:{}})
}
const createSenderContainerDiv = () => {
    return h('div',{id: `message${messageCount.value}`, class: 'message-box-container'})
}
const createSelectedMessageDiv = () => {
    return h('div',{class: 'chatbox-message-sender'})
}
const createDivandAppendSelectedMessage = (selectedMessage: string) => {
const senderMessageDiv = h('div', {class: 'selected-option-container', innerHTML: selectedMessage})
} */
</script>

<template>
    <img v-if="showBotButtonref" src="../../assets/bot.png" class="bot-button" @click="enableBot()" />
    <div v-if="showChatBoxref" class="chatbox">
        <div class="chatbox-header-container">
            <div class="chatbox-header">
                FAQ CHATBOT
            </div>
            <span @click="closeBot()" class="close-button">&times;</span>
        </div>
        <div id="chat-bot-body" class="chatbox-body">
            <div class="chatbox-message-body">
                <img src="../../assets/bot.png" alt="" class="chatbox-logo">
                <div class="chatbox-message-bot">
                    Please select from one from the list
                    <ul id="faq" class="no-bullets">
                        <li v-for="currentQuestion in currentQuestions" class="faq-container"
                            @click="handelQuestionClick(currentQuestion)"> {{ currentQuestion }}</li>
                    </ul>
                </div>
            </div>
            <div v-for="questionandanswer in Object.entries(selectedQuestionAndAnswer)" :id="'message'+{messageCount}" ref="messageTemplateRef" class="message-box-container">
                <div class="chatbox-message-sender">
                    <div class="selected-option-container"> {{ questionandanswer[0] }} </div>
                </div>
                <div class="chatbox-message-body">
                    <img src="../../assets/bot.png" class="chatbox-logo" />
                    <div class="chatbox-message-bot"> {{ questionandanswer[1] }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
@import url(./FaqChatBot.css);
</style>