<script setup lang="ts">
import { ref } from 'vue';
import FaqChatBot from './components/ChatBot/FaqChatBot.vue';
const emitTest = ref(false)
const showBotButtonref= ref(true)
const showChatBoxref = ref(false)
const currenturl = ref('/eligibility')
function changeUrl() {
currenturl.value = '/personal-details'
}
const emitedValue = () => {
  emitTest.value = true
  showBotButtonref.value=false
  showChatBoxref.value= true
}
const selectedQuestion =(value:string) => {
  console.log(value)
}
const FAQs = {
  '/eligibility': {
    'Accepting terms and conditions is mandatory?': "Yes it is mandatory to accept the terms and condition of the Company",
    "why my eligibility failed": "Your eligibility failed because you the business pincode is not serviceable by us as of now",
    "what is asset purchase loan": "assest purchase loan is loan for buying machinery for business used or new",
    "what is long term loan": "Long term loan is served for tenure of 12 to 60 months and a amount of 5 to 12 lakhs"
  },
  '/personal-details': {
    "what are the pincode that is servicable": "you can check the pincode that is servicable here https://www.google.com",
    "what is tenure for service sector": "the tenure to get a loan for trading sector is 2 years"
  }
}
</script>

<template>
  <button @click="changeUrl()">change url</button>
  <FaqChatBot @questionselected="selectedQuestion" @botclicked="emitedValue()" :show-bot-button="showBotButtonref" :show-chat-box="showChatBoxref" :FAQs="FAQs" :current-url="currenturl"/>
</template>

